.article-left
  %h6.article-section-title Types of Pain
  .article-nav
    .article-nav-img
      = image_tag 'pain-mgmt.jpg'
    .hide-for-small
      %h4.article-nav-title Types of Pain
      %ul.article-nav-list
        %li= link_to 'Arthritis', '/arthritis'
        %li= link_to 'Fibromyalgia', '/fibromyalgia'
        %li= link_to 'Myofascial Pain', '/myofascial-pain'
        %li= link_to 'Neck Pain', '/neck-pain'
        %li= link_to 'Back Pain', '/back-pain'
        %li= link_to 'Spinal Stenosis', '/spinal-stenosis'
        %li= link_to 'Disc Herniation', '/disc-herniation'
        %li= link_to 'Sciatica/Radiculopathy', '/sciatica-radiculopathy'
        %li= link_to 'Neuropathy/Neuralgia', '/neuropathy-neuralgia'
        %li= link_to 'Shingles/Post-Herpetic Neuralgia', '/shingles-post-herpetic-neuralgia'
        %li= link_to 'Phantom Limb Pain', '/phantom-limb-pain'
        %li= link_to 'Degenerative Disc Disease and Disc-Related Pain', '/degenerative-disc-disease-disc-related-pain'
        %li= link_to 'Headaches', '/headaches'
        %li= link_to 'Trigeminal Neuralgia', '/trigeminal-neuralgia'
        %li= link_to 'Atypical Facial Pain', '/atypical-facial-pain'
        %li= link_to 'Vertebral Compression Fractures', '/vertebral-compression-fractures'
        %li= link_to 'Meralgia Paresthetica', '/meralgia-paresthetica'
        %li= link_to 'Cancer Pain', '/cancer-pain'
        %li= link_to 'Pelvic Pain', '/pelvic-pain'
        %li= link_to 'Complex Regional Pain Syndrome', '/complex-regional-pain-syndrome'
        %li= link_to 'Failed Back Surgery Syndrome', '/failed-back-surgery-syndrome'
        %li= link_to 'Post-Stroke Pain/Central Pain', '/post-stroke-pain-central-pain'
        %li= link_to 'Intractable Post-Surgical Pain', '/intractable-post-surgical-pain'
        %li= link_to 'Musculoskeletal Pain & Sports-related Joint Pain', '/musculoskeletal-pain-sports-related-joint-pain'
    .show-for-small
      .article-nav-title
        %h4 Types of Pain
        %span
      .small-12.columns.sub-nav-mobile.hidden
        %ul.article-nav-list
          %li= link_to 'Arthritis', '/arthritis'
          %li= link_to 'Fibromyalgia', '/fibromyalgia'
          %li= link_to 'Myofascial Pain', '/myofascial-pain'
          %li= link_to 'Neck Pain', '/neck-pain'
          %li= link_to 'Back Pain', '/back-pain'
          %li= link_to 'Spinal Stenosis', '/spinal-stenosis'
          %li= link_to 'Disc Herniation', '/disc-herniation'
          %li= link_to 'Sciatica/Radiculopathy', '/sciatica-radiculopathy'
          %li= link_to 'Neuropathy/Neuralgia', '/neuropathy-neuralgia'
          %li= link_to 'Shingles/Post-Herpetic Neuralgia', '/shingles-post-herpetic-neuralgia'
          %li= link_to 'Phantom Limb Pain', '/phantom-limb-pain'
          %li= link_to 'Degenerative Disc Disease and Disc-Related Pain', '/degenerative-disc-disease-disc-related-pain'
          %li= link_to 'Headaches', '/headaches'
          %li= link_to 'Trigeminal Neuralgia', '/trigeminal-neuralgia'
          %li= link_to 'Atypical Facial Pain', '/atypical-facial-pain'
          %li= link_to 'Vertebral Compression Fractures', '/vertebral-compression-fractures'
          %li= link_to 'Meralgia Paresthetica', '/meralgia-paresthetica'
          %li= link_to 'Cancer Pain', '/cancer-pain'
          %li= link_to 'Pelvic Pain', '/pelvic-pain'
          %li= link_to 'Complex Regional Pain Syndrome', '/complex-regional-pain-syndrome'
          %li= link_to 'Failed Back Surgery Syndrome', '/failed-back-surgery-syndrome'
          %li= link_to 'Post-Stroke Pain/Central Pain', '/post-stroke-pain-central-pain'
          %li= link_to 'Intractable Post-Surgical Pain', '/intractable-post-surgical-pain'
          %li= link_to 'Musculoskeletal Pain & Sports-related Joint Pain', '/musculoskeletal-pain-sports-related-joint-pain'
    .article-contact-us.hide-for-small.hide-for-medium
      = render :partial => 'home/contact-us-form'


