.article-left
  %h6.article-section-title Treatment
  .article-nav
    .article-nav-img
      = image_tag 'http://www.bthcc.co.uk/images/Chiropractic_treatment_of_Knee_Arthritis.jpg'
    .hide-for-small
      %h4.article-nav-title Treatments Offered
      %ul.article-nav-list
        %li.head-neck
          = link_to 'Head & Neck Procedures', '/head-neck-procedures'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment-type= link_to 'Gassarian Ganglion Blockade', '/gassarian-ganglion-blockade', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Infraorbital Nerve Block', '/infraorbital-nerve-block', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Mental Nerve Block', '/mental-nerve-block', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Occipital Nerve Block', '/occipital-nerve-block', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Sphenopalatine Block', '/sphenopalatine-block', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Supraorbital Nerve Block', '/supraorbital-nerve-block', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Supratrochlear Nerve Block', '/supratrochlear-nerve-block', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Temporomandibular Joint (TMJ) Injection', '/temporomandibular-joint-injection', :class=>'head-neck-a'
            %li.treatment-type= link_to 'Trigeminal Nerve Block', '/trigeminal-nerve-block', :class=>'head-neck-a'

        %li.cervical
          = link_to 'Cervical Procedures', '/cervical-procedures'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment-type= link_to 'Diagnostic Medial Branch Nerve Injections', '/diagnostic-medial-branch-nerve-injections', :class=>'cervical-a'
            %li.treatment-type= link_to 'Discogram', '/discogram', :class=>'cervical-a'
            %li.treatment-type= link_to 'Epidural Steroid Injection', '/epidural-steroid-injection', :class=>'cervical-a'
            %li.treatment-type= link_to 'Facet Injection', '/facet-injection', :class=>'cervical-a'
            %li.treatment-type= link_to 'Nerve Root Blocks', '/nerve-root-blocks', :class=>'cervical-a'
            %li.treatment-type= link_to 'Radiofrequency Ablation of Median Branch', '/radiofrequency-ablation-median-branch', :class=>'cervical-a'
            %li.treatment-type= link_to 'Stellate Ganglion (Sympathetic) Block', '/stellate-ganglion-block', :class=>'cervical-a'

        %li.thoracic
          = link_to 'Thoracic Procedures', '/thoracic-procedures'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment_type= link_to 'Diagnostic Medial Branch Nerve Injections', '/diagnostic-medial-branch-nerve-injections', :class=>'thoracic-a'
            %li.treatment_type= link_to 'Epidural Steroid Injection', '/epidural-steroid-injection', :class=>'thoracic-a'
            %li.treatment_type= link_to 'Kyphoplasty', '/kyphoplasty', :class=>'thoracic-a'
            %li.treatment_type= link_to 'Intercostal Nerve Blocks Under Ultrasound', '/intercostal-nerve-blocks-ultrasound', :class=>'thoracic-a'
            %li.treatment_type= link_to 'Radiofrequency Ablation of Median Branch', '/radiofrequency-ablation-median-branch', :class=>'thoracic-a'
            %li.treatment_type= link_to 'Vertebroplasty', '/vertebroplasty', :class=>'thoracic-a'

        %li.lumbar
          = link_to 'Lumbar Procedures', '/lumbar-procedures'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment-type= link_to 'Biacuplasty', '/biacuplasty', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Diagnostic Medial Branch nerve injections', '/diagnostic-medial-branch-nerve-injections', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Discogram', '/discogram', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Endoscopic Discectomy', '/endoscopic-discectomy', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Endoscopic Rhizotomy', '/endoscopic-rhizotomy', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Epidural Steroid Injection', '/epidural-steroid-injection', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Facet Injection', '/facet-injection', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Intradiscal Electrothermal Therapy', '/intradiscal-electrothermal-therapy', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Lumbar Sympathetic Block', '/lumbar-sympathetic-block', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Kyphoplasty', '/kyphoplasty', :class=>'lumbar-a'
            %li.treatment-type= link_to "Mild - Decompression Procedure for Spinal Stenosis", '/mild-decompression-procedure-spinal-stenosis', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Nerve Root Blocks', '/nerve-root-blocks', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Piriformis Block', '/piriformis-block', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Radiofrequency Ablation of Median Branch', '/radiofrequency-ablation-median-branch', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Sacroiliac Joint Injection', '/sacroiliac-joint-injection', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Sympathetic Blocks', '/sympathetic-blocks', :class=>'lumbar-a'
            %li.treatment-type= link_to 'Vertebroplasty', '/vertebroplasty', :class=>'lumbar-a'

        %li.abdominal-pelvic
          = link_to 'Abdominal & Pelvic Procedures', '/abdominal-pelvic-procedures'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment-type= link_to 'Celiac Plexus Block & Neurolysis', '/celiac-plexus-block-neurolysis', :class=>'abdominal-pelvic-a'
            %li.treatment-type= link_to 'Ganglion Impar Block', '/ganglion-impar-block', :class=>'abdominal-pelvic-a'
            %li.treatment-type= link_to 'Hypogastric Plexus Block', '/hypogastric-plexus-block', :class=>'abdominal-pelvic-a'
            %li.treatment-type= link_to 'Pudendal Nerve Block', '/pudendal-nerve-block', :class=>'abdominal-pelvic-a'
            %li.treatment-type= link_to 'Splanchnic Block', '/splanchnic-block', :class=>'abdominal-pelvic-a'

        %li.neuromodulation
          = link_to 'Neuromodulation', '/neuromodulation'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment-type= link_to 'Spinal Cord Stimulators Trials and Implantations (Cervical & Lumbar)', '/spinal-cord-stimulators-trials-implantations'
            %li.treatment-type= link_to 'Programming and Management', '/programming-management'
            %li.treatment-type= link_to 'Peripheral Nerve (including Occipital) and Pelvic Neuromodulation', '/peripheral-nerve-pelvic-neuromodulation'

        %li.miscellaneous
          = link_to 'Miscellaneous', '/miscellaneous'
          %span.hide-for-medium
          %ul.treatment-sub-list
            %li.treatment-type= link_to 'Baclofen and Morphine Intrathecal trials & implantation', '/baclofen-morphine-intrathecal'
            %li.treatment-type= link_to 'Epidural Blood Patch', '/epidural-blood-patch'
            %li.treatment-type= link_to 'Ketamine Infusions and Maintenance', '/ketamine-infusions-maintenance'
            %li.treatment-type= link_to 'Joint and bursa injections under Ultrasound (i.e. Hip, Shoulder, Knee, etc.)', '/joint-bursa-ultrasound-injections'
            %li.treatment-type= link_to 'Peripheral nerve blocks (i.e. Suprascapular, Ilio-inguinal, Genitofemoral, etc.)', '/peripheral-nerve-blocks'

    .show-for-small
      .article-nav-title
        %h4 Treatments Offered
        %span
      .small-12.columns.sub-nav-mobile.hidden
        %ul.article-nav-list
          %li= link_to 'Head & Neck Procedures', '/head-neck-procedures'
          %li= link_to 'Cervical Procedures', '/cervical-procedures'
          %li= link_to 'Thoracic Procedures', '/thoracic-procedures'
          %li= link_to 'Lumbar Procedures', '/lumbar-procedures'
          %li= link_to 'Abdominal & Pelvic Procedures', '/abdominal-pelvic-procedures'
          %li= link_to 'Neuromodulation', '/neuromodulation'
          %li= link_to 'Miscellaneous', '/miscellaneous'
    .article-contact-us.hide-for-small.hide-for-medium
      = render :partial => 'home/contact-us-form'


