- meta :title => "Pain Management Doctors NJ New Jersey | Pain Management NYC New York | Back Pain NYC NJ", :description => "One of the best Pain Management Doctors in NJ (New Jersey). Also offering Pain Management to NYC (New York) residents. All types of Back Pains for NY, NJ & CT patients will be handled. We'll help you with any kind of Pain Management issues. Book Now.", :keywords => "pain management nyc, new york pain management, pain management new york, new york pain management, pain management doctors in new jersey, pain management doctors nj, pain management in nj, pain management new jersey, nj pain management, back pain nyc, back pain new york city, back pain new york, nyc back pain,  back pain doctor new jersey, back pain new jersey, back pain nj"


.bodywrapper
  #main
    #first.story.hide-for-small
      .slideshow-wrapper
        %ul{"data-orbit" => "" ,'data-options'=>'timer:false'}
          %li.slide.slide1
            .row
              .large-7.columns
                %ul
                  %li
                    %h5 OUR PHILOSOPHY:
                    %h3.slide-head To make surgery a last resort whenever possible.
                    %h5 OUR FOCUS:
                    %h3.slide-head To treat the whole patient, not just the symptoms.
                    %h5 OUR GOAL:
                    %h3.slide-head To improve your quality of life and get back to feeling more like you.


          / %li.slide.slide2
          /   .row
          /     .large-7.columns
          /       %ul
          /         %li{:style=>'padding: 100px 0 125px;'}
          /           %h3 OUR FOCUS:
          /           %h1.slide-head To treat the whole patient, not just the symptoms.

          / %li.slide.slide3
          /   .row
          /     .large-8.large-offset-4.columns
          /       %ul
          /         %li{:style=>'padding: 100px 0 115px;'}
          /           %h3 OUR GOAL:
          /           %h1.slide-head To improve your quality of life and get back to feeling more like you.


    #second.story
      %article
        .row
          .large-6.columns.small-12
            = image_tag 'Central-Park-NYC.jpg'
          .large-6.columns.small-12
            #dr-chen-description
              %h5.hide-for-small Welcome to the Ainsworth Institute
              %h5.show-for-small{:style=>'text-align:center'} Welcome to the Ainsworth Institute

              %p= "The <span itemprop='name'>Ainsworth Institute of Pain Management</span> is dedicated to patient care and pain relief. We offer a multidisciplinary approach to help patients recover, regain function, and become pain free. We strive to help patients avoid surgery, and are deeply committed to excellence in personal healthcare.  Come visit one of New York City's best pain management clinics and interventional facilities.".html_safe
              = link_to 'Learn More >>', '/about-us'
    #third.story
      %article
        .row
          .large-4.columns
            .index-third-section
              %h5 Types of Pain
              .hide-for-small= image_tag 'pain-management.jpg'
              %p As most patients in pain will attest, it is not always easy to put into words what they are feeling or to label the type of pain one has - let alone the cause. We specialize in a wide variety of pain syndromes.
              = link_to 'LEARN MORE >>', '/types-of-pain'
          .large-4.columns
            .index-third-section
              %h5 Treatment
              .hide-for-small= image_tag 'treatment1.jpg'
              %p Our doctors will work with patients for as long as needed in order to develop an effective treatment plan for their individual condition.
              = link_to 'LEARN MORE >>', '/treatment'
          .large-4.columns
            .index-third-section
              %h5 Blog
              .hide-for-small= image_tag 'http://pmppain.com/wp-content/uploads/2012/07/PMP_news1.jpg'
              %p Stay up-to-date on what the Ainsworth Institute doctors are up to and follow the latest advancements in pain management.
              = link_to 'LEARN MORE >>', '/news'

    / #fifth.story
    /   %article
    /     .row
    /       .large-12.columns
    /         %h5 Latest News
    /     .row
    /       .large-4.columns
    /         .index-fifth-section
    /           .photo-caption-section
    /             .photo-caption-text#photo1-caption
    /               %h6 Caption here
    /               %p Sub-caption sentence here.
    /           .fifth-section-text
    /             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    /       .large-4.columns
    /         .index-fifth-section
    /           .photo-caption-section
    /             .photo-caption-text#photo2-caption
    /               %h6 Caption here
    /               %p Sub-caption sentence here.
    /           .fifth-section-text
    /             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    /       .large-4.columns
    /         .index-fifth-section
    /           .photo-caption-section
    /             .photo-caption-text#photo3-caption
    /               %h6 Caption here
    /               %p Sub-caption sentence here.
    /           .fifth-section-text
    /             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

