.row
  .large-4.columns
    = render :partial => 'news-nav'
  .large-8.columns
    .article-right
      %h2.article-main-title News
      .article-main-content
        .news-article
          %p.news-article-date September 27th, 2012
          %p.news-article-title Dr. Hunter named Director-At-Large for the New York Society of Interventional Pain Physicians
          %p The American Society of Interventional Pain Physicians (ASIPP) is a not-for-profit organization representing interventional pain physicians across the country. It was developed To promote the development and practice of safe, high quality, cost-effective interventional pain management techniques for the diagnosis and treatment of pain and related disorders, and to ensure patient access to these interventions. Dr. Sudhir Diwan formed the New York chapter in 2010.
          = link_to 'Read more about ASIPP','http://www.asipp.org/about_us.html', :class=>'news-link', :target => "_blank"
        .news-article
          %p.news-article-date July 11th, 2012
          %p.news-article-title EP Global Communications, Inc. Announces the Appointment of Corey W. Hunter M.D. as Company Medical Director and Chairman of Scientific Advisory Board
          %p EP Global Communications, Inc. (the Company) , (Pink Sheets: EPGL.PK), is pleased to announce the appointment of Corey W. Hunter M.D. to the position of Company Medical Director and Chairman of the Scientific Advisory Board. Dr. Hunter was pivotal in conducting early research on the MPDD device…
          = link_to 'Read more','http://www.prweb.com/releases/2012/7/prweb9685849.htm', :class=>'news-link', :target => "_blank"

        .news-article
          %p.news-article-date June 27th, 2012
          %p.news-article-title Dr. Hunter Hosts Facebook Chat on "What You Need to Know to Beat Neuropathic Pain"
          %p Dr. Corey Hunter—a member of The Neuropathy Association’s Neuropathic Pain Management Medical Advisory Council—hosted a “chat” event on The Neuropathy Association’s Facebook page to increase the public profile of—and the much-needed conversation about—neuropathic pain…
          = link_to 'Read more','http://www.neuropathy.org/site/News2?page=NewsArticle&id=8257', :class=>'news-link', :target => "_blank"

        .news-article
          %p.news-article-date April 25th, 2012
          %p.news-article-title Dr. Hunter Addresses Neuropathic Pain on KevinMD.com
          %p This guest blog post--written by the Neuropathy Association's Neuropathic Pain Management Medical Advisory Council member Corey W. Hunter, MD—offers insights into the “neuropathic pain epidemic and the uphill battle for both patients and the physicians trying to help them…
          = link_to 'Read more','http://www.kevinmd.com/blog/2012/04/thinking-differently-treating-neuropathic-pain.html', :class=>'news-link', :target => "_blank"

        .news-article
          %p.news-article-date April 23rd, 2012
          %p.news-article-title Dr. Hunter has artcle published in Pain Practice, the official journal of the World Institute of Pain, on Neuromodulation for Chronic Pelvic Pain
          %p Chronic pelvic pain (CPP) is complex and often resistant to treatment. While the exact pathophysiology is unknown, the pain states resultant from conditions such as interstitial cystitis and the like yield patients with a presentation that bears a striking similarity to neuropathic syndromes that are known to respond to neuromodulation…
          = link_to 'Read more','http://onlinelibrary.wiley.com/doi/10.1111/j.1533-2500.2012.00558.x/abstract', :class=>'news-link', :target => "_blank"

        .news-article
          %p.news-article-date April 1st, 2012
          %p.news-article-title The Neuropathy Association invites Dr. Hunter to join its Medical Advisory Council on Neuropathic Pain Management
          %p We are pleased to have Drs. Corey Hunter (New York Pain Management Group) and Cindy Tofthagen (University of South Florida) join our Neuropathic Pain Management Medical Advisory Council to address your number one issue: neuropathic pain…
          = link_to 'Read more','http://www.neuropathy.org/site/News2?page=NewsArticle&id=8227&news_iv_ctrl=1101', :class=>'news-link', :target => "_blank"


