.row
  .large-4.columns
    = render :partial => 'about-us-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Patient Resources
      .article-main-content



        %p.article-paragraph-title Cancellation Policy
        %p We understand that your schedule may change and that emergencies arise. If you are unable to keep your appointment, we ask that you provide us with 24-hour notice for office visits and 48-hours for procedures. Please extend us this courtesy so that other patients may be seen.  Please refer to our <a href='Cancellation-Policy.pdf' target='_blank'>Cancellation Policy</a>.

        %p.article-paragraph-title Payment Options
        %p All co-payments and deductibles are due at the time of service. This includes payment for any surgical procedures, which is usually taken care of in advance.  We accept cash and check.  Please refer to our <a href='Payment-Policy.pdf' target='_blank'>Payment Policy</a>.

        %p.article-paragraph-title Insurance Plans
        %p We accept most major insurance plans at our practice. Please call the office to speak with one of our knowledgeable staff members about your individual coverage.

        %p.article-paragraph-title Patient Forms
        %p The following forms can be downloaded to your computer and printed at home. By filling out these forms ahead of time, you will save a significant amount of time during your visit. Please be prepared to provide this information to our office along with your current medical insurance information. If you have any questions when filling out these forms, please do the best you can and our staff will assist you with your questions on the day of your visit.

        %ul
          %li= link_to 'Constipation', '12905-Constipation.pdf', :target => "_blank"
          %li= link_to 'Email Authorization Form', '12905-Email_authorization_form.pdf', :target => "_blank"
          %li= link_to 'New Patient Visit Questionnaire', '12905-New_Patient_Visit_Questionnaire.pdf', :target => "_blank"
          %li= link_to 'Notice of Health Information', '12905-Notice_of_Health_Information.pdf', :target => "_blank"
          %li= link_to 'Notice of Privacy Practices', '12905-Notice_of_Privacy_Practices.pdf', :target => "_blank"
          %li= link_to 'Opioid Contract', '12905-Opioid_Contract.pdf', :target => "_blank"
          %li= link_to 'Opioid Treatment Pain Management Agreement', '12905-Opioid_Treatment___Pain_Management_Agreement.pdf', :target => "_blank"
          %li= link_to 'Pain Questionnaire', '12905-Pain_Questionnaire.pdf', :target => "_blank"
          %li= link_to 'Hospital Quality Assurance', 'Hospital-Quality-Assurance.pdf', :target => "_blank"
          %li= link_to 'Patient Registration', 'Patient-Registration.pdf', :target => "_blank"
          %li= link_to 'Release of Records', 'Release-of-Records.pdf', :target => "_blank"


