.nav-buffer
#resources-list
  .row
    .large-12.columns
      %h5 Sitemap
      %ul
        %li
          = link_to 'About Us', '/about-us'
        %li
          = link_to 'Back Pain Doctor in New Jersey', '/back-pain-doctor-new-jersey-nj'
        %li
          = link_to 'Back Pain Doctor in New York', '/back-pain-doctor-nyc-new-york'
        %li
          = link_to 'Back Pain Management', '/back-pain-management'
        %li
          = link_to 'Back Pain in New York City', '/back-pain-new-york-city-ny'
        %li
          = link_to 'Back Pain Relief in New York City', '/back-pain-relief-new-york-city'
        %li
          = link_to 'Back Pain Specialist', '/back-pain-specialist'
        %li
          = link_to 'Comprehensive Pain Management Clinic in New Jersey', '/comprehensive-pain-management-clinic-nj'
        %li
          = link_to 'Doctor for Back Pain', '/doctor-for-back-pain'
        %li
          = link_to 'How To Help Back Pain', '/how-to-help-back-pain'
        %li
          = link_to 'Injections for Back Pain', '/injections-for-back-pain'
        %li
          = link_to 'Neck Pain in New Jersey', '/neck-pain-new-jersey'
        %li
          = link_to 'New Jersey Pain Consultants', '/new-jersey-nj-pain-consultants'
        %li
          = link_to 'New Jersey Pain Care Center', '/new-jersey-pain-care-center'
        %li
          = link_to 'New York Pain Care', '/new-york-pain-care'
        %li
          = link_to 'New York Pain Management', '/new-york-pain-management-ny'
        %li
          = link_to 'New Jersey Pain Management Doctors', '/nj-new-jersey-pain-management-doctors'
        %li
          = link_to 'New York City Pain Clinic', '/nyc-new-york-pain-clinic'
        %li
          = link_to 'Pain Management in Brooklyn, NY', '/pain-management-brooklyn-ny'
        %li
          = link_to 'Pain Management in Clifton, NJ', '/pain-management-clifton-ny'
        %li
          = link_to 'Pain Management Doctors in New Jersey', '/pain-management-doctors-new-jersey-nj'
        %li
          = link_to 'Pain Management Doctors in New York', '/pain-management-doctors-new-york-nyc'
        %li
          = link_to 'Pain Management Doctor in New Jersey', '/pain-management-dr-in-nj'
        %li
          = link_to 'Pain Management in New Jersey', '/pain-management-in-new-jersey-nj'
        %li
          = link_to 'Pain Management in Jersey City, NJ', '/pain-management-jersey-city-nj'
        %li
          = link_to 'Pain Management in Queens, NY', '/pain-management-queens-ny'
        %li
          = link_to 'Pain Management in Wayne, NJ', '/pain-management-wayne-nj'
        %li
          = link_to 'Pain Physicians in NY', '/pain-physicians-ny'