#sitemap
  .row
    .large-12.columns
      %h1 Site Map

  .row
    .large-3.columns
      %h5 Home
      %ul
        %li= link_to 'Home', '/'
        %li= link_to 'About Us', '/about-us'
        %li= link_to 'Types of Pain', '/types-of-pain'
        %li= link_to 'Treatment', '/treatment'
        %li= link_to 'News', '/news'
        %li= link_to 'Contact', '/contact'

    .large-3.columns
      %h5 About Us
      %ul
        %li= link_to 'Meet Dr. Hunter', '/meet-dr-hunter'
        %li= link_to 'Meet Dr. Chen', '/meet-dr-chen'
        %li= link_to 'Meet Dr. Lee', '/meet-dr-lee'
        %li= link_to 'About the Ainsworth Institute', '/about-ainsworth'
        %li= link_to 'Meet the Staff', '/meet-the-staff'
        %li= link_to 'Hours & Directions', '/hours-directions'
        %li= link_to 'Education', '/education'
        %li= link_to 'Patient Resources', '/patient-resources'

    .large-6.columns
      %h5 Types of Pain
      .large-6.columns{:style=>'padding:0'}
        %ul
          %li= link_to 'Arthritis', '/arthritis'
          %li= link_to 'Fibromyalgia', '/fibromyalgia'
          %li= link_to 'Myofascial Pain', '/myofascial-pain'
          %li= link_to 'Neck Pain', '/neck-pain'
          %li= link_to 'Back Pain', '/back-pain'
          %li= link_to 'Spinal Stenosis', '/spinal-stenosis'
          %li= link_to 'Disc Herniation', '/disc-herniation'
          %li= link_to 'Sciatica/Radiculopathy', '/sciatica-radiculopathy'
          %li= link_to 'Neuropathy/Neuralgia', '/neuropathy-neuralgia'
          %li= link_to 'Shingles/Post-Herpetic Neuralgia', '/shingles-post-herpetic-neuralgia'
          %li= link_to 'Phantom Limb Pain', '/phantom-limb-pain'
          %li= link_to 'Degenerative Disc Disease and Disc-Related Pain', '/degenerative-disc-disease-disc-related-pain'
          %li= link_to 'Headaches', '/headaches'
          %li= link_to 'Trigeminal Neuralgia', '/trigeminal-neuralgia'
      .large-6.columns{:style=>'padding:0'}
        %ul
          %li= link_to 'Atypical Facial Pain', '/atypical-facial-pain'
          %li= link_to 'Vertebral Compression Fractures', '/vertebral-compression-fractures'
          %li= link_to 'Meralgia Paresthetica', '/meralgia-paresthetica'
          %li= link_to 'Cancer Pain', '/cancer-pain'
          %li= link_to 'Pelvic Pain', '/pelvic-pain'
          %li= link_to 'Complex Regional Pain Syndrome', '/complex-regional-pain-syndrome'
          %li= link_to 'Failed Back Surgery Syndrome', '/failed-back-surgery-syndrome'
          %li= link_to 'Post-Stroke Pain/Central Pain', '/post-stroke-pain-central-pain'
          %li= link_to 'Intractable Post-Surgical Pain', '/intractable-post-surgical-pain'
          %li= link_to 'Musculoskeletal Pain & Sports-related Joint Pain', '/musculoskeletal-pain-sports-related-joint-pain'

  .row
    .large-3.columns
      %h5 Treatment
      %ul
        %li= link_to 'Head & Neck Procedures', '/head-neck-procedures'
        %li= link_to 'Cervical Procedures', '/cervical-procedures'
        %li= link_to 'Thoracic Procedures', '/thoracic-procedures'
        %li= link_to 'Lumbar Procedures', '/lumbar-procedures'
        %li= link_to 'Abdominal & Pelvic Procedures', '/abdominal-pelvic-procedures'
        %li= link_to 'Neuromodulation', '/neuromodulation'
        %li= link_to 'Miscellaneous', '/miscellaneous'
    .large-3.columns
      %h5 Head & Neck Procedures
      %ul
        %li= link_to 'Gassarian Ganglion Blockade', '/gassarian-ganglion-blockade'
        %li= link_to 'Infraorbital Nerve Block', '/infraorbital-nerve-block'
        %li= link_to 'Mental Nerve Block', '/mental-nerve-block'
        %li= link_to 'Occipital Nerve Block', '/occipital-nerve-block'
        %li= link_to 'Sphenopalatine Block', '/sphenopalatine-block'
        %li= link_to 'Supraorbital Nerve Block', '/supraorbital-nerve-block'
        %li= link_to 'Supratrochlear Nerve Block', '/supratrochlear-nerve-block'
        %li= link_to 'Temporomandibular Joint (TMJ) Injection', '/temporomandibular-joint-injection'
        %li= link_to 'Trigeminal Nerve Block', '/trigeminal-nerve-block'

    .large-3.columns
      %h5 Cervical Procedures
      %ul
        %li= link_to 'Diagnostic Medial Branch Nerve Injections', '/diagnostic-medial-branch-nerve-injections'
        %li= link_to 'Discogram', '/discogram'
        %li= link_to 'Epidural Steroid Injection', '/epidural-steroid-injection'
        %li= link_to 'Facet Injection', '/facet-injection'
        %li= link_to 'Nerve Root Blocks', '/nerve-root-blocks'
        %li= link_to 'Radiofrequency Ablation of Median Branch', '/radiofrequency-ablation-median-branch'
        %li= link_to 'Stellate Ganglion (Sympathetic) Block', '/stellate-ganglion-block'

    .large-3.columns
      %h5 Thoracic Procedures
      %ul
        %li= link_to 'Diagnostic Medial Branch Nerve Injections', '/diagnostic-medial-branch-nerve-injections'
        %li= link_to 'Epidural Steroid Injection', '/epidural-steroid-injection'
        %li= link_to 'Kyphoplasty', '/kyphoplasty'
        %li= link_to 'Intercostal Nerve Blocks Under Ultrasound', '/intercostal-nerve-blocks-ultrasound'
        %li= link_to 'Radiofrequency Ablation of Median Branch', '/radiofrequency-ablation-median-branch'
        %li= link_to 'Vertebroplasty', '/vertebroplasty'

  .row
    .large-3.columns
      %h5 Lumbar Procedures
      %ul
        %li= link_to 'Biacuplasty', '/biacuplasty'
        %li= link_to 'Diagnostic Medial Branch nerve injections', '/diagnostic-medial-branch-nerve-injections'
        %li= link_to 'Discogram', '/discogram'
        %li= link_to 'Endoscopic Discectomy', '/endoscopic-discectomy'
        %li= link_to 'Endoscopic Rhizotomy', '/endoscopic-rhizotomy'
        %li= link_to 'Epidural Steroid Injection', '/epidural-steroid-injection'
        %li= link_to 'Facet Injection', '/facet-injection'
        %li= link_to 'Intradiscal Electrothermal Therapy', '/intradiscal-electrothermal-therapy'
        %li= link_to 'Lumbar Sympathetic Block', '/lumbar-sympathetic-block'
        %li= link_to 'Kyphoplasty', '/kyphoplasty'
        %li= link_to 'Mild - Decompression Procedure for Spinal Stenosis', '/mild-decompression-procedure-spinal-stenosis'
        %li= link_to 'Nerve Root Blocks', '/nerve-root-blocks'
        %li= link_to 'Piriformis Block', '/piriformis-block'
        %li= link_to 'Radiofrequency Ablation of Median Branch', '/radiofrequency-ablation-median-branch'
        %li= link_to 'Sacroiliac Joint Injection', '/sacroiliac-joint-injection'
        %li= link_to 'Sympathetic Blocks', '/sympathetic-blocks'
        %li= link_to 'Vertebroplasty', '/vertebroplasty'

    .large-3.columns
      %h5 Abdominal & Pelvic Procedures
      %ul
        %li= link_to 'Celiac Plexus Block & Neurolysis', '/celiac-plexus-block-neurolysis'
        %li= link_to 'Ganglion Impar Block', '/ganglion-impar-block'
        %li= link_to 'Hypogastric Plexus Block', '/hypogastric-plexus-block'
        %li= link_to 'Pudendal Nerve Block', '/pudendal-nerve-block'
        %li= link_to 'Splanchnic Block', '/splanchnic-block'

    .large-3.columns
      %h5 Neuromodulation
      %ul
        %li= link_to 'Spinal Cord Stimulators Trials and Implantations (Cervical & Lumbar)', '/spinal-cord-stimulators-trials-implantations'
        %li= link_to 'Programming and Management', '/programming-management'
        %li= link_to 'Peripheral Nerve (including Occipital) and Pelvic Neuromodulation', '/peripheral-nerve-pelvic-neuromodulation'

    .large-3.columns
      %h5 Miscellaneous
      %ul
        %li= link_to 'Baclofen and Morphine Intrathecal trials & implantation', '/baclofen-morphine-intrathecal'
        %li= link_to 'Epidural Blood Patch', '/epidural-blood-patch'
        %li= link_to 'Ketamine Infusions and Maintenance', '/ketamine-infusions-maintenance'
        %li= link_to 'Joint and bursa injections under Ultrasound (i.e. Hip, Shoulder, Knee, etc.)', '/joint-bursa-ultrasound-injections'
        %li= link_to 'Peripheral nerve blocks (i.e. Suprascapular, Ilio-inguinal, Genitofemoral, etc.)', '/peripheral-nerve-blocks'







