<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <meta name="google-site-verification" content="HNSEj7l7ahrMCRYzhGxqrGMbClkYTJkSMqiNceC_fL0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= metamagic %>

</head>
<body>
<span itemscope itemtype="http://schema.org/LocalBusiness">
<%= render :partial => '/layouts/nav' %>
<%= yield %>
</span>
<%= render :partial => '/layouts/footer' %>

<%= render :partial => '/layouts/consultation' %>
<%= render :partial => '/layouts/ebook' %>

  <script>
    $(document).foundation();
  </script>
  <!-- End Footer -->
</body>
</html>
